html {
font-family: Roboto, RobotoDraft, Arial;
box-sizing: border-box;
}

body {
margin: 0;
}

section {
height: 100vh;
}

*, *:before, *:after {
box-sizing: inherit;
	 }
header {
display: flex;
align-items: center;
justify-content: flex-end;
padding: 20px 30px 20px 0;
}

header div {
margin: 5px;
}

a {
font-size: 13px;
font-weight: 400;
color: #4a4947;
text-decoration: none;
}

button { 
background-color: #418ed1;
border: none;
color: white;
padding: 4px 4px;
border-radius: 3px;
}

.main {
display: flex;
padding: 120px 0 0 0;
flex-direction: column;
align-items: center;
}

.logo{
margin: 0 0 40px 0;
}

.searchbox {
width: 70%;
//border: 1px solid grey;
border-radius: 50px;
box-shadow: 2px 5px 8px 3px #888;
display: flex;
justify-content: center;
}

input {
width: 85%;
font-size: 1.1em; 
padding: 10px;
border: none;
outline: none;
}

.icons {
width: 15%;
padding: 10px;
filter: contrast(60%);
}

.applogo {
margin: 0 5px;
border-radius: 50%;
filter: contrast(60%);
}

.applogo:hover {
background-color: bfbfbf;
}
